@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: "Raleway", serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f1f1f1;
}
.container
{
    border: 2px black solid;
    width: 30vw;
    height: 75vh;
    border-radius: 1rem;
}
.image{
    width: 100%;
    height: 60%;
    padding: 0.5rem;
    box-sizing: border-box; 
}
.image img{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}
.tag_container{
    display: flex;
   
}
.Tag{
    border: 2px grey solid;
    color: grey;
    border-radius: 1rem;
    font-size: 0.75rem;
    padding: 0.5rem;
    margin: 0.5rem;
  font-weight: 800;
  font-style: normal;
}
.text_cointainer{
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    /* align-items: center;
    justify-content: center; */
}
p{
    font-size: 1rem;
   margin-top: 0.5rem;
    font-weight: 800;
    font-style: normal;
    color: grey;
    ;
}
h1{
    font-size: 1.25rem;
    font-weight: 800;
    font-style: normal;
    color: black;
}
#button_container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}
button{
  padding: 0.5rem;
    width: 20%;
    color:rgb(0, 110, 255);
    background-color: rgb(150, 192, 238);
    border: none;
    border-radius: 1rem;
}
@media (max-width:800px) {
    h1{
        font-size: 0.75rem;
        font-weight: 800;
        font-style: normal;
        color: black;
    }
    .container{
    
    width: 35vw;
    height: 75vh;
}
.Tag{
   
    border-radius: 1rem;
    font-size: 0.65rem;
    padding: 0.25rem;
    margin: 0.25rem;
}
p{
    font-size: 0.75rem;
}
button{
    margin-top: 0.5rem;
    padding: 0.25rem;
      width: 40%;
      color:rgb(0, 110, 255);
      font-size: 0.75rem;
  }
    }
@media (max-width: 500px) {
    .container
{
    
    width: 50vw;
    height: 60vh;
   
}
p{
    font-size: 0.55rem;
}
button{
    padding: 0.25rem;
      width: 40%;
      color:rgb(0, 110, 255);
      font-size: 0.65rem;
  }
    }
    @media (min-width: 1020px) {
        .container{
        
        width: 35vw;
        height: 80vh;
       
    }
    .image{
        width: 100%;
        height: 58%;
        padding: 0.5rem;
        box-sizing: border-box; 
    }

    .Tag{
        margin: 0.25rem;
        padding: 0.30rem;
    }
    button{
        padding: 0.25rem;
          width: 30%;
          color:rgb(0, 110, 255);
      }
      p{
        font-size: 1rem;
    }

}
